.advantages {
    min-height: 472px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__icon {
        width: 215px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        img {
            display: block;
        }
    }
    &__title {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
        color: #0d0d0d; 
    }
    &__subtitle {
        margin-top: 26px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color: #0d0d0d;
        a {
        text-transform: uppercase;
        text-decoration: underline;
        color: #ff0000;
        }
    }
}